-- Check if masjids table exists
SELECT table_name FROM information_schema.tables 
WHERE table_schema = 'public' AND table_name = 'masjids';

-- Check table structure
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'masjids' 
ORDER BY ordinal_position;
